<link rel="stylesheet" href="css/homeStyle.css">
<div class="background">
    <div class="card rounded-0">
        <div class="card-body">
          <h1 class="card-title">Welcome to typing heaven.</h1><br/>
          <p class="card-text">There is nothing better than a keyboard that feels perfect to type on. Shop for some of the best mechanical keyboards in India. Or grab parts to make your keyboard truly your own. </p>
          &nbsp;&nbsp;&nbsp;<button ng-controller="prodCatCtrl" class="btn text-white btn-lg rounded-0" ng-click="link()"> SHOP NOW</button>
        </div>
      </div>
</div>
<br/><br/>
<h1 class="d-block text-center" id="sales">Categories</h1>


<div class="container container-cat" ng-controller="prodCatCtrl"ng-init="listCategories()">
  <div class="row">
      <div id="padi" class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="c in categories">
          <img class="img-fluid" src="admin/upload/{{c.cat_img}}" alt="diy keyboards">
          <div class="text-overlay">
              <h2>{{c.cat_name}}</h2>
              <button ng-click="filterShowCat(c.cat_name)" class="btn text-white">SHOP NOW</button>
          
            </div>
      </div>
  </div>
</div>
<br/><br/><br/><br/>