<link rel="stylesheet" href="css/signupStyle.css"> 

<form id="form1" ng-controller="signupCtrl" name="signupForm" novalidate>

    <h1 align="center">SignUp</h1><br /><br />

    <!-- Username field with validation -->
    <label for="username">Username <b>*</b></label>
    <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required ng-pattern="/^[a-zA-Z0-9_\s]{4,20}$/" />
    <span ng-show="signupForm.username.$error.required">Username is required.</span>
    <span ng-show="signupForm.username.$error.pattern">Invalid username.</span><br />

    <!-- Email field with validation -->
    <label for="email">Email <b>*</b></label>
    <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" />
    <span ng-show="signupForm.email.$error.required">Email is required.</span>
    <span ng-show="signupForm.email.$error.pattern">Invalid email.</span><br />

    <!-- Password fields with validation -->
    <label for="password">Password <b>*</b></label>
    <input type="password" name="password" class="form-control" ng-model="user.password" required ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$/" />
    <span ng-show="signupForm.password.$error.required">Password is required.</span>
    <span ng-show="signupForm.password.$error.pattern">Invalid password.</span><br />

    <label for="re_password">Re-Enter Password <b>*</b></label>
    <input type="password" name="re_password" class="form-control" ng-model="user.re_password" required />
    <span ng-show="signupForm.re_password.$error.required">Please re-enter your password.</span>
    <span ng-show="user.password !== user.re_password">Passwords do not match.</span><br />

    <!-- Mobile number field with validation -->
    <label for="mobile_number">Mobile Number <b>*</b></label><br />
    <input type="text" class="form-control" id="mobile_number" name="mobile_number" ng-model="user.mobile_number" required ng-pattern="/^[+]?[0-9]{10,}$/" />
    <span ng-show="signupForm.mobile_number.$error.required">Mobile number is required.</span>
    <span ng-show="signupForm.mobile_number.$error.pattern">Invalid mobile number.</span><br />

    <!-- Address field -->
    <label for="addr">Address <b>*</b></label>
    <textarea class="form-control" name="addr" id="addr" cols="50" rows="2" ng-model="user.addr"></textarea><br />

    <div id="loglink" align="left">
        <p class="text-muted">Already a user ? <a href="#!account">Log In</a></p>
    </div><br />

    <hr>

    <!-- Submit button with ng-click -->
    <div class="btn-center">
        <button name="btn-submit" class="btn btn-submit btn-dark" type="button" ng-click="submit()" ng-disabled="signupForm.$invalid">SUBMIT</button>
        &nbsp;&nbsp;&nbsp;
        <button name="btn-reset" class="btn btn-submit btn-warning" type="reset">&nbsp;RESET&nbsp;</button>
    </div>

</form>

