<link rel="stylesheet" href="css/CRUDform.css">
<div ng-controller="productsCtrl" ng-init="ListProducts(); ListBrands(); ListCategories(); ListLayouts(); ListSwitches();">
  <div>
    <!-- Products Table -->
    <h1 align="center" class="text-info">Products Table</h1><br />
    <table border="2" class="table table-md table-striped">
      <thead class="thead-dark">
        <tr border="2">
          <th scope="col">ID</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Layout</th>
          <th scope="col">Switch</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in products">
          <th class="text-center" scope="row">{{p.prod_id}}</th>
          <td class="text-center" id="imgdata"><img ng-src="upload/{{p.product_img}}" width="50px" height="50px" /></td>
          <td>{{p.prod_name}}</td>
          <td>{{p.prod_desc}}</td>
          <td>{{p.kb_brand}}</td>
          <td>{{p.kb_cat}}</td>
          <td>{{p.kb_layout}}</td>
          <td>{{p.kb_switch}}</td>
          <td>{{p.prod_price}}</td>
          <td>{{p.prod_qty}}</td>

          <td><button title="Edit Data" type="button" class="btn btn-info btn-block" name="Edit" ng-click="editData(c)"><i class="bi bi-pencil-fill"></i></button></td>
          <td><button title="Delete Data" type="button" class="btn btn-danger btn-block" name="Delete"
              ng-click="deleteCat(c.cat_id)"><i class="bi bi-trash3-fill"></i></button></td>
        </tr>
        <tr>
          <td colspan="12" class="text-center"><button title="Add Record" style="width: 10%; font-size: 125%;" type="button" class="btn btn-primary"
            ng-click="showInsert()"><i class="bi bi-file-earmark-plus-fill"></i></button></td>
        </tr>
      </tbody>
    </table>

    <!-- Insert Form  -->
    <br /><br />
    <div id="Form" ng-show="showIns">
      <div class="form-group">
        <label for="prod_id">Product Name <span style="color:red">*</span></label>
        <input type="text" ng-model="prod_id" class="form-control" id="prod_id" placeholder="Enter Product name" required />
      </div>

      <div class="form-group">
        <label for="prod_desc">Product Description <span style="color:red">*</span></label>
        <textarea type="text" ng-model="prod_desc" class="form-control" id="prod_desc" placeholder="Enter Description" required ></textarea>
      </div>

      <div class="form-group">
        <label for="prod_price">Product Price <span style="color:red">*</span></label>
        <input type="text" ng-model="prod_price" class="form-control" id="prod_price" placeholder="Enter Price" required />
      </div>

      <div class="form-group">
        <label for="prod_qty">Product Quantity <span style="color:red">*</span></label>
        <input type="text" ng-model="prod_qty" class="form-control" id="prod_qty" placeholder="Enter Quantity" required />
      </div>
      <br/><hr>
      <label for="form-check">Product Type <span style="color:red">*</span></label>
      <div id="form-check" class="form-check">
        <input ng-model="showKB" name="prod_type" class="form-check-input" type="radio" id="isKeyboard" value="keyboard" />
        <label class="form-check-label" for="isKeyboard">
            Keyboard
        </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input ng-model="hideKB" name="prod_type" class="form-check-input" type="radio" id="isswitch" value="switch" />
        <label class="form-check-label" for="isswitch">
            Switch
        </label>
      </div>
      <br/><hr>
      <div class="form-group">
        <label for="kb_cat">Product Category <span style="color:red">*</span></label>
        <select id="kb_cat" class="custom-select">
            <option selected>Select Category</option>
            <option ng-repeat="c in categories" value="{{c.cat_id}}">{{c.cat_name}}</option>
          </select>
      </div>

      <div class="form-group">
        <label for="kb_brand">Product Brand <span style="color:red">*</span></label>
        <select id="kb_brand" class="custom-select">
            <option selected>Select Brand</option>
            <option ng-repeat="b in brand" value="{{b.brand_id}}">{{b.brand_name}}</option>
          </select>
      </div>

      <div ng-show="showKB" class="form-group">
        <label for="kb_layout">Product Layout <span style="color:red">*</span></label>
        <select id="kb_layout" class="custom-select">
            <option selected>Select Layout Type</option>
            <option ng-repeat="l in layouts" value="{{l.layout_id}}">{{l.layout_type}}</option>
          </select>
      </div>

      <div class="form-group">
        <label for="kb_switch">Product Switch <span style="color:red">*</span></label>
        <select id="kb_switch" class="custom-select">
            <option selected>Select Switch Type</option>
            <option ng-repeat="s in switches" value="{{s.switch_id}}">{{s.switch_type}}</option>
          </select>
      </div>
      <br/><hr>
      <div class="form-group">
        <div class="form-group">
          <label for="uploading">Upload Image <span style="color:red">*</span></label>
          <input type="file" name="prod_img" id="prod_img" class="form-control-file" id="uploading" />
        </div>
      </div>

      <!-- <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check1">
        <label class="form-check-label" for="check1">Check me out</label>
      </div> --><br />
      <button type="button" ng-click="uploadFile()" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
  </div>

  <!-- Edit Function -->
  <div id="Form" ng-show="showEdit">

    <div class="form-group">
      <label for="cat_id">Category ID :</label>
      <input type="text" name="edt_catId" class="form-control" id="cat_id" ng-model="edt_catId" />
    </div>

    <div class="form-group">
      <label for="edt_catName">Category Name :</label>
      <input type="text" class="form-control" id="edt_catName" name="edt_catName" ng-model="edt_catName">
    </div>

    <div class="form-group">
      <label for="uploading">Upload New Image :</label>
      <input type="file" name="edt_file" class="form-control-file" id="edt_file" />
    </div>

    <label for="image">Image :</label><br />
    <img ng-src="upload/{{edt_cat_img}}" width="50px" height="20px" /><br /><br />
    <button type="button" ng-click="saveEdit()" class="btn btn-primary btn-lg btn-block">Update</button>
  </div>
</div>