<link rel="stylesheet" href="css/CRUDform.css">
<div class="container" ng-controller="switchesCtrl" ng-init="listSwitches()">
  <div class="container-fluid">

    <!-- Switches Table -->
    <h1 align="center" class="text-info"><span id="bold">Switches Table</span></h1><br />
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Switch ID</th>
          <th scope="col">Switch Type</th>
          <th scope="col">Action</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="s in switches">
          <th class="text-center" scope="row">{{s.switch_id}}</th>
          <td>{{s.switch_type}}</td>
          <td><button title="Edit Data" type="button" class="btn btn-info btn-block" name="Edit" ng-click="editData(s)"><i class="bi bi-pencil-fill"></i></button></td>
          <td><button title="Delete Data" type="button" class="btn btn-danger btn-block" name="Delete"
              ng-click="deleteSwitches(s.switch_id)"><i class="bi bi-trash3-fill"></i></button></td>
        </tr>
        <tr>
          <td colspan="5" class="text-center"><button title="Add Record" style="width: 10%; font-size: 125%;" type="button" class="btn btn-primary"
            ng-click="showInsert()"><i class="bi bi-file-earmark-plus-fill"></i></button></td>
        </tr>
      </tbody>
    </table>


    <!-- Insert Form  -->
    <!-- <button type="button" class="btn btn-primary btn-lg " ng-click="showInsert()">Add</button> -->
    <br /><br />
    <div id="Form" ng-show="showIns">
      <div class="form-group">
        <label for="switch_type">Switch Type <span style="color:red">*</span></label>
        <input type="text" ng-model="switch_type" name="switch_type" class="form-control" id="switch_type" placeholder="Enter Switch" required />
      </div>
    <br />
      <button type="button" ng-click="uploadFile()" class="btn btn-success btn-lg btn-block">Submit</button>
    </div>
  </div>

  <!-- Edit Function -->
  <div id="Form" ng-show="showEdit">

    <div class="form-group">
      <label for="edt_switch_id">Switch ID :</label>
      <input type="text" name="edt_switch_id" class="form-control" id="edt_switch_id" ng-model="edt_switch_id" />
    </div>

    <div class="form-group">
      <label for="edt_switch_type">Switch Type :</label>
      <input type="text" class="form-control" id="edt_switch_type" name="edt_switch_type" ng-model="edt_switch_type" />
    </div>

    <button type="button" ng-click="saveEdit()" class="btn btn-success btn-lg btn-block">Update</button>
  </div>
</div>