<div ng-controller="authorsCtrl" ng-init="listAuthers()">
    <button ng-click="showInsert()">Add</button>
    <div ng-show="showIns">
        <input type="text" name="aut_name" ng-model="aut_name" placeholder="Enter Auther Name" /> <br/>
        <input type="text" name="aut_email" ng-model="aut_email" placeholder="Enter Email" /> <br/>
        <input type="text" name="aut_mobile" ng-model="aut_mobile" placeholder="Enter Mobile" /> <br/>
        <input type="button" ng-click="insertAuthor()" value="Insert" /><br/>
    </div>
    <table border="1">
        <tr>
            <th>Auther Id</th>
            <th>Auther name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="a in Authers">
            <td>{{a.aut_id }}</td>
            <td>{{a.aut_name}}</td>
            <td>{{a.aut_email }}</td>
            <td>{{a.aut_mobile}}</td>

            <td><input type="button" name="Edit" value="edit" ng-click="editData(a)"/> </td>
            <td><input type="button" name="Delete" value="delete" ng-click="deleteAuther(a.aut_id)"/> </td>
        </tr>
    </table>
    <div ng-show="showEdit">
        <input type="text" name="edt_aut_id" ng-model="edt_aut_id" />
        <input type="text" name="edt_aut_name" ng-model="edt_aut_name" placeholder="Enter Publisher" /> <br/>
        <input type="text" name="edt_aut_email" ng-model="edt_aut_email" placeholder="Enter Publisher" /> <br/>
        <input type="text" name="edt_aut_mobile" ng-model="edt_aut_mobile" placeholder="Enter Publisher" /> <br/>
        <input type="button" ng-click="saveEdit()" value="Update" /><br/>
    </div>
</div>