<div ng-controller="booksCtrl" ng-init="listBooks(); listCategories(); listLanguages(); listPublishers(); listAuthers(); ">
    <button ng-click="showInsert()">Add</button>
    <div ng-show="showIns">
        <input type="text" name="book_name" ng-model="book_name" placeholder="Enter Book Name" /> <br/>
        Select Category <select ng-model="book_category" ng-options="c.cat_name for c in categories">
        </select><br/>
        Select Language <select ng-model="book_language" ng-options="l.lang_name for l in languages">
        </select><br/>
        Select Publisher <select ng-model="book_publisher" ng-options="p.pub_name for p in Publishers">
        </select><br/>
        Select Author <select ng-model="book_author" ng-options="a.aut_name for a in Authers">
        </select><br/>
        <input type="text" name="book_price" ng-model="book_price" placeholder="Enter Price" /> <br/>
        <input type="text" name="book_qty" ng-model="book_qty" placeholder="Enter Quantity" /> <br/>
        <input type="text" name="book_pages" ng-model="book_pages" placeholder="Enter Pages" /> <br/>
        <input type="file" name="file" id="file" /> <br/>
        
        <input type="button" ng-click="insertBook()" value="Insert" /><br/>
    </div>
    <table border="1">
        <tr>
            <th>Book Id</th>
            <th>Book name</th>
            <th>Image</th>

            <th>Category</th>
            <th>Author</th>
            <th>Language</th>
            <th>Publisher</th>

            <th>Price</th>
            <th>Pages</th>
            <th>Quantity</th>

            <th>Action</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="b in books">
            <td>{{b.book_id}}</td>
            <td>{{b.book_name}}</td>
            <td><img ng-src="upload/{{b.book_img}}" width="25px" height="25px"></td>

            <td>{{b.cat_name }}</td>
            <td>{{b.aut_name}}</td>
            <td>{{b.lang_name }}</td>
            <td>{{b.pub_name}}</td>
            
            <td>{{b.book_price }}</td>
            <td>{{b.book_pages}}</td>
            <td>{{b.book_qty }}</td>
            
            <td><input type="button" name="Edit" value="edit" ng-click="editData(b)"/> </td>
            <td><input type="button" name="Delete" value="delete" ng-click="deleteBook(b.book_id)"/> </td>
        </tr>
    </table>
    <div ng-show="showEdit">
        <input type="text" name="edt_book_Id" ng-model="edt_book_Id" /><br/>
        <input type="text" name="edt_book_name" ng-model="edt_book_name" placeholder="Enter Book Name" /> <br/>
     <!--   Select Category <select ng-model="edt_book_category" ng-options="c.cat_name for c in categories">
        </select><br/>
        Select Language <select ng-model="edt_book_language" ng-options="l.lang_name for l in languages">
        </select><br/>
        Select Publisher <select ng-model="edt_book_publisher" ng-options="p.pub_name for p in Publishers">
        </select><br/>
        Select Author <select ng-model="edt_book_author" ng-options="a.aut_name for a in Authers">
        </select><br/>

    -->
        Select Category<select ng-model="edt_book_category">
            <option ng-repeat="c in categories" value="{{c.cat_id}}">{{c.cat_name}}</option>
            </select><br/>
        
        Select Language<select ng-model="edt_book_language">
            <option ng-repeat="l in languages" value="{{l.lang_id}}">{{l.lang_name}}</option>
            </select><br/>
        
        
        Select Author<select ng-model="edt_book_author">
            <option ng-repeat="a in Authers" value="{{a.aut_id}}">{{a.aut_name}}</option>
            </select><br/>

        Select Publisher<select ng-model="edt_book_publisher">
            <option ng-repeat="p in Publishers" value="{{p.pub_id}}">{{p.pub_name}}</option>
            </select><br/>


        <input type="text" name="edt_book_price" ng-model="edt_book_price" placeholder="Enter Price" /> <br/>
        <input type="text" name="edt_book_qty" ng-model="edt_book_qty" placeholder="Enter Quantity" /> <br/>
        <input type="text" name="edt_book_pages" ng-model="edt_book_pages" placeholder="Enter Pages" /> <br/>
        <input type="file" name="edt_file" id="edt_file" /> <br/>
        
        <img ng-src="upload/{{edt_book_img}}" width="25px" height="25px">
        <input type="button" ng-click="saveEdit()" value="Update" /><br/>
    </div>
</div>