<div ng-controller="categoriesCtrl" ng-init="listCategories()">
    <button ng-click="showInsert()">Add</button>
    <div ng-show="showIns">
        <input type="text" name="catName" ng-model="catName" placeholder="Enter Category" /> <br/>
        <input type="file" name="file" id="file" /> <br/>
        <input type="button" ng-click="uploadFile()" value="Insert" /><br/>
    </div>
    <table border="1">
        <tr>
            <th>Category Id</th>
            <th>Category name</th>
            <th>Image</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="c in categories">
            <td>{{c.cat_id}}</td>
            <td>{{c.cat_name}}</td>
            <td><img ng-src="upload/{{c.cat_img}}" width="25px" height="25px"></td>
            
            <td><input type="button" name="Edit" value="edit" ng-click="editData(c)"/> </td>
            <td><input type="button" name="Delete" value="delete" ng-click="deleteCat(c.cat_id)"/> </td>
        </tr>
    </table>
    <div ng-show="showEdit">
        <input type="text" name="edt_catId" ng-model="edt_catId" />
        <input type="text" name="edt_catName" ng-model="edt_catName" placeholder="Enter Category" /> <br/>
        <input type="file" name="edt_file" id="edt_file" /> <br/>
        <img ng-src="upload/{{edt_cat_img}}" width="25px" height="25px">
        <input type="button" ng-click="saveEdit()" value="Update" /><br/>
    </div>
</div>