* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color:black ;
    background-image:url("GymWebPhotos/WebBack2.jpg");
    background-size:contain;
    background-repeat:repeat-y;
   /* opacity:0.9;*/
}

nav {
    background-color: rgb(52, 130, 255);
    padding:1%;
    text-align: center;
    opacity: 0.9;
}
nav a {
    padding: 2%;
    color:white;
    font-weight:bold;
}
nav a:hover {
    color:gainsboro;
}
header {
    color:rgb(52, 130, 255);
    text-align:center;
    background-color: white;
    margin:2%;
    padding:2%;
    border-color:rgb(52, 130, 255);
    border-radius:20px;
    opacity: 0.6;
}
header:hover {
    opacity:100%;
}
div.col-md {
    opacity: 100%;
    background-color: lightgrey;
    margin:3%;
    text-align:left;
    padding:5%;
    border-radius:50px;
    color:gray;
}
div.col-md:hover {
    background-color: white;
}
footer {
    margin-top:10%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: lightgrey;
}
div.col-md img {
    width:100%;
    border-radius: 20px;
    margin-bottom:2%;
}
