body {
    background-color: gold;
    /*#2b46fa*/
}

img {
    width: 50px;
    height: 50px;
}

input {
    margin-bottom: 40px;
}

h1 {
    color: gold;
    margin-left: 40px;
    font-weight: bold;
}

h1 img {
    width: 150px;
    height: 60px;
    margin: 45px;
    padding: 6px;
    border-radius: 3px;
    background-color: gold;
}
h1 img:hover {
    width: 150px;
    height: 60px;
    margin: 45px;
    padding: 6px;
    border-radius: 3px;
    background-color: gold;
    box-shadow: 0px 5px 5px;
}

form {
    width: 500px;
    height: 500px;
    margin: auto;
}

.form {
    width: 600px;
    height: 680px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid rgb(175, 175, 175);
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 15px;     
}

hr {
    height: 2px;
    background-color: gainsboro;
    border-radius: 3px;
    margin: 30px;
    opacity:80%;
}

#scbt {
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
#scbt:hover{
    background-color: white;
    border: 2px solid gainsboro;
    border-radius: 5px;
    border: 2px solid gold;
}


label[for="chkbx"] {
    padding-bottom: 5px;
}

button[value="submit"],
button[value="reset"],
p .text-success {
    width: 39%;
    margin-left: 34px;
    font-weight: 600;
    border-radius: 10px;
    color: white;
}

.text-success {
    font-weight: 600;
}

a[href="idono"] {
    padding-left: 20px;
}
input:hover{
    border: 1px solid gold;
    color:gold;
}
button[value="reset"]:hover,button[value="submit"]:hover {
    background-color: WHITE;
    color: gold;
    border: 1px solid gold;
}
.form-control:focus {
    color:gold;
    background-color: rgb(249, 249, 249);
}
.ft1 {
    background-color: white;
    padding: 20px;
    margin-top:100px;
    border-top:1px solid black;
}
.ft1 img {
    margin:auto;        
    width: 40px;
    height: 40px;
}   
.cen {
    align-items: center;
    margin: auto; 
    padding-bottom: 1%;  
} 
footer {
    text-align: center;
} 
label[for="email"],label[for="psswd"] {
    font-weight:bold;   
}
label:hover {
    color:gold;
}
button a {
    text-decoration:none;
    color:white;
}
button[value="submit"]:hover a { 
    color:gold;
    text-decoration:none;
}
