* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

*::selection {
  background-color: #565656;
  color:white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  position: fixed;
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: flex-end;
}

nav h3 {
  background-color: #000;
  color: white;
  padding: 8px 15px;
  border-radius: 50px;
}

#intro {
  height: 45%;
  width: 100%;
  /* background-color: beige; */
  padding: 50px 70px;
}

#intro>h1 {
  font-size: 90px;
  line-height: 95px;
  letter-spacing: -3px;
}

#place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px
}

#place h3,
#place h4 {
  font-size: 23px;
  font-weight: 600;
}

#hero-image {
  height: 80%;
  width: 100%;
  background-color: beige;
  background-image: url("https://images.unsplash.com/photo-1618418721668-0d1f72aa4bab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: left;
  background-size: cover;
}

#about {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 55px;
}

#about h2 {
  width: 60%;
  height: 100%;
  font-size: 63px;
  text-align: left;
  line-height: 60px;
}

#about-part2 {
  width: 35%;
  height: 100%;
  border-left: 2px solid black;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about-part2 h3 {
  font-size: 35px;
  font-weight: 600;
}

#icons>i {
  color: white;
  background-color: black;
  padding: 8px;
  font-size: 30px;
  border-radius: 50px;
  margin-right: 8px;
}

#main-work {
  height: 60%;
  margin: 5px 45px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-work #work-left {
  height: 100%;
  width: 60%;
  margin: 15px 0px;
  border-right: 2px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#work-left>h3 {
  font-size: 23px;
}

#work-left>i {
  font-size: 30px;
  margin-right: 30px;
}

#main-work #work-right {
  height: 100%;
  width: 100%;
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parent-work {
  display: flex;
  justify-content: space-between;
  height: 60%;
  margin-left: 25px;
}

#parent-work1 {
  border-bottom: 2px solid black;
  align-items: flex-start;
}

#parent-work2 {
  align-items: flex-end;
}


.child-work {
  width: 50%;
  height: 70%;
}

#child-work1 {
  border-right: 2px solid black;
  padding-right: 35px;
}

#child-work2 {
  padding-left: 35px;
}

#child-work3 {
  border-right: 2px solid black;
  padding-right: 35px;
}

#child-work4 {
  padding-left: 35px;
}

.child-work>h3 {
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
}

.child-work>p {
  color: gray;
  line-height: 25px;
}

marquee>h1 {
  font-size: 200px;
}