.background {
    background-image: url('../images/bannerKeyboard.jpeg'); 
    background-size:cover;
    background-position: center;
    height: 100vh; 
    padding:9%;
  }
    
 div.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  div.card {
    margin: auto auto auto 8%;
    width: 53%;
    height:max-content;
    padding:3%;
}
  @media (max-width:450px) {
    div.card {
         width: 100%;
         margin:auto;
       
    }
}
  h1.card-title {
   color:rgb(0, 0, 0); 
   font-weight:700;
   font-size: 400%;

  }
  @media (max-width:450px) {
    h1.card-title {
        font-weight: 500;
        font-size: xx-large;
    }
  }
  button.btn {
    background-color: black;
  }
p.card-text {
    font-size: medium;
}

h1#sales {
  margin:5% 0 2% 0;
  text-align: center;
}

/* Custom CSS for Category */
.text-overlay {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
  padding: 20px;
  text-align: center;
  width: 79%;
  }
  
  @media (max-width: 450px) {
    .overlay-text {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  .text-overlay h2 {
  font-size: 18px;
  font-weight: bold;
  }
  
  .text-overlay p {
  font-size: 14px;
  }

  .container-cat {
  position: relative;
  }

  img.img-fluid {
  object-fit: fill;
  height: 100%;
  filter: brightness(50%);
  }

  .btn {
  background-color: black;
  }
  @media (max-width: 450px) {
    div#padi {
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }
