* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-image: url("GymWebPhotos/WebBack3.jpg");
    background-size:cover;
    background-repeat:repeat-y;
}
footer {
    margin-top:25%;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: lightgrey;
}
div.form {
    align-self: center;
    width: 40vw;
    margin:auto;
    margin-top: 5vw;  
    padding:5%; 
    border:5px solid rgb(52, 130, 255);
    border-radius:50px;
    background-color: white;
}
nav {
    background-color: rgb(52, 130, 255);
    padding:1%;
    text-align: center;
}
nav a {
    padding: 2%;
    color:white;
    font-weight:bold;
}
nav a:hover {
    color:gainsboro;
}
div.form h1 {
    text-align:center;
    color:royalblue;
    font-weight: bolder;
}
div.form button {
    padding:3% 5% 3% 5%;
    margin:4%;
    width:40%;
}